/* IMAGE PRESENTATION */
.presentation {
  width: 100%;
  height: 290px;
  object-fit: cover;
}

/* SECTION MENU */
.s-menu {
  position: relative;
  max-width: 900px;
  margin-top: -70px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  padding: 30px 10px;
}

/* TITRE */
.general-titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 900px;
  margin: auto;
  padding: 0 25px 15px 10px;
}
.general-titre > span {
  font-size: 28px;
  font-weight: 500;
  font-family: "Shrikhand", "Sans serif";
}
.coeur {
  color: #f6f6f6;
  font-size: 23px;
}

/* TITRE MENU */
.cat-menu {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
  max-width: 900px;
  margin: auto;
  animation: 1.5s apparition;
}
.cat-menu > h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 2px;
}
.trait {
  margin: 5px 0;
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
}
.souscat-menu {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 7px 0;
  background-color: #fff;
  box-shadow: 5px 5px 10px #d4d4d4;
  border-radius: 15px;
  overflow: hidden;
  animation: apparition-menu 7s ease-in-out;
}

/* BLOC MENU */
.menu {
  flex: 1;
  min-width: 0;
  position: relative;
  padding: 12px 10px;
  text-overflow: ellipsis;
}
.menu > h3 {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.menu-desc {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.desc-nowrap {
  white-space: initial;
}
.menu-prix {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #353535;
  font-size: 15px;
  font-weight: 600;
  height: 100%;
  right: -20px;
  bottom: 10px;
}

/* BOUTON VALIDE */
.button-espacement {
  display: flex;
  height: 1px;
  width: 40px;
  transition: width 0.5s;
}
.button-valid {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 0;
  font-size: 21px;
  background-color: #99e2d0;
  color: #fff;
  transition: width 0.5s;
}

/* BOUTON COMMANDER */
.button-commander {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 35px 0;
}
.button-commander > a {
  padding: 15px 50px;
  border-radius: 35px;
  color: #fff;
  box-shadow: 2px 5px 5px lightgray;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  transition: box-shadow 0.2s;
}
.button-commander > a:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=0.8);
  box-shadow: 2px 5px 5px gray;
}

/* ANIMATION */
.souscat-menu:hover .button-espacement {
  width: 100px;
}
.souscat-menu:hover .button-valid {
  width: 60px;
}
.souscat-menu:hover .button-valid > i {
  animation: 0.5s rotate-valid-button;
}
.cat-menu:nth-child(2) {
  animation-delay: -0.8s;
}
.cat-menu:nth-child(3) {
  animation-delay: -0.4s;
}

.cat-menu:nth-of-type(2) > .souscat-menu:nth-child(3),
.cat-menu:nth-of-type(3) > .souscat-menu:nth-child(3),
.cat-menu:nth-of-type(4) > .souscat-menu:nth-child(3) {
  animation-delay: -4s;
}
.cat-menu:nth-of-type(2) > .souscat-menu:nth-child(4),
.cat-menu:nth-of-type(3) > .souscat-menu:nth-child(4),
.cat-menu:nth-of-type(4) > .souscat-menu:nth-child(4) {
  animation-delay: -3.6s;
}
.cat-menu:nth-of-type(2) > .souscat-menu:nth-child(5),
.cat-menu:nth-of-type(3) > .souscat-menu:nth-child(5),
.cat-menu:nth-of-type(4) > .souscat-menu:nth-child(5) {
  animation-delay: -3.2s;
}
.cat-menu:nth-of-type(2) > .souscat-menu:nth-child(6),
.cat-menu:nth-of-type(3) > .souscat-menu:nth-child(6),
.cat-menu:nth-of-type(4) > .souscat-menu:nth-child(6) {
  animation-delay: -2.8s;
}
.cat-menu:nth-of-type(2) > .souscat-menu:nth-child(7),
.cat-menu:nth-of-type(3) > .souscat-menu:nth-child(7),
.cat-menu:nth-of-type(4) > .souscat-menu:nth-child(7) {
  animation-delay: -2.4s;
}

@keyframes rotate-valid-button {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes apparition {
  0% {
    margin-top: 500px;
    opacity: 0;
  }
  100% {
    margin-top: 0;
    opacity: 1;
  }
}
@keyframes apparition-menu {
  0%,
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* RESPONSIVE */

@media (min-width: 900px) {
  .presentation {
    height: 700px;
  }
  .general-titre {
    max-width: 900px;
  }
  .s-menu {
    margin: 30px auto;
    border-radius: 25px;
  }
}
