/* SECTION MENU */
.s-menu > img {
  width: 100%;
}
.menu {
  position: relative;
  margin-top: -80px;
  background-color: #f6f6f6;
  border-radius: 35px 35px 0 0;
  padding: 30px 10px;
}

/* TITRE */
.titre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 25px 10px;
}
.titre > span {
  font-size: 28px;
  font-weight: 500;
  font-family: "Shrikhand", "Sans serif";
}
.coeur {
  color: #f6f6f6;
  font-size: 23px;
}
/* ENTREES */
.cat-menu {
  padding: 15px 0;
  display: flex;
  flex-direction: column;
}
.cat-menu > h2 {
  font-size: 16px;
  font-weight: 300;
  text-transform: uppercase;
  padding-left: 2px;
}
.souscat-menu {
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 7px 0;
  background-color: #fff;
  box-shadow: 5px 5px 10px #d4d4d4;
  border-radius: 15px;
  overflow: hidden;
}
.trait {
  margin: 5px 0;
  height: 3px;
  width: 45px;
  background-color: #99e2d0;
}
.entrees {
  flex: 1;
  min-width: 0;
  position: relative;
  padding: 12px 10px;
  text-overflow: ellipsis;
}
.entrees > h3 {
  padding-bottom: 5px;
  font-size: 18px;
  font-weight: 500;
}
.entrees-desc {
  font-size: 15px;
  font-weight: 300;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.desc-nowrap {
  white-space: initial;
}
.entrees-prix {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  color: #353535;
  font-size: 15px;
  font-weight: 600;
  height: 100%;
  right: -20;
  bottom: 10;
}
.button-valid {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 0;
  font-size: 21px;
  background-color: #99e2d0;
  color: #fff;
  transition: width 0.5s;
}
.valid-nowrap {
}
.button-espacement {
  display: flex;
  height: 1px;
  width: 40px;
  transition: width 0.5s;
}
.souscat-menu:hover .button-espacement {
  width: 100px;
}
.souscat-menu:hover .button-valid > i {
  animation: 0.5s rotate-valid-button;
}
.souscat-menu:hover .button-valid {
  width: 60px;
}
@keyframes rotate-valid-button {
  100% {
    transform: rotate(360deg);
  }
}
