/* SECTION INTRODUCTION */
.s-introduction {
  display: flex;
  flex-direction: column;
}
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #353535;
  height: 50px;
}
.localisation > span {
  padding-left: 18px;
  font-weight: 500;
  font-size: 15px;
}
.presentation {
  background-color: #f6f6f6;
  height: 191px;
  padding: 38px 39px;
  padding-bottom: 58px;
  text-align: center;
}
.presentation > h1 {
  font-size: 24px;
  margin: auto 26px;
  line-height: 1.19;
}
.presentation > p {
  color: #4d4d4d;
  font-weight: 300;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 44px;
}
.presentation > a {
  padding: 15px 20px;
  border-radius: 35px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(170deg, #ff79da, #9356dc);
  box-shadow: 2px 5px 5px lightgray;
  transition: box-shadow 0.2s;
}
.presentation > a:hover {
  opacity: 0.8;
  -moz-opacity: 0.8;
  -khtml-opacity: 0.8;
  filter: alpha(opacity=0.8);
  box-shadow: 2px 5px 5px gray;
}
/* SECTION FONCTIONNEMENT */
.s-fonctionnement {
  margin: 47px 15px;
  height: 347px;
}
.info-fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}
.fonctionnement {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 17px;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px #d4d4d4;
}
.fonctionnement:nth-child(0n + 3) {
  background-color: #f5edff;
}
.fonctionnement > span:nth-child(0n + 3) {
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement > i {
  color: #7e7e7e;
  margin-right: 25px;
  margin-left: 20px;
}
.fonctionnement:nth-child(0n + 1) > i {
  font-size: 20px;
  margin-bottom: 2px;
}
.fonctionnement:nth-child(0n + 2) > i {
  font-size: 17px;
}
.fonctionnement:nth-child(0n + 3) > i {
  font-size: 16px;
  margin-bottom: 2px;
  color: #9356dc;
}
.fonctionnement > span:nth-child(0n + 1) {
  display: flex;
  justify-content: center;
  position: absolute;
  left: -15px;
  height: 15px;
  width: 15px;
  font-size: 15px;
  padding: 5px;
  border-radius: 100%;
  color: #fff;
  background-color: #9356dc;
}

/* SECTION RESTAURANTS */
.s-restaurants {
  background-color: #f2f2f2;
  padding: 53px 20px;
}
.s-restaurants > h1 {
  margin-bottom: 22px;
}
.restaurant {
  display: flex;
  height: 255px;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 14px;
  box-shadow: 5px 5px 10px #d4d4d4;
}
.restaurant-img {
  flex: auto;
  position: relative;
}
.restaurant-img > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant-desc {
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding: 17px 15px;
}
.restaurant-desc-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant-desc-1 > h2 {
  font-weight: 600;
  font-size: 18px;
}
.restaurant-desc-1 > p {
  font-weight: 300;
}
.restaurant-desc-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.coeur {
  position: relative;
  font-size: 21px;
  cursor: pointer;
  color: white;
  -webkit-text-stroke: 1px black;
}
.coeur2 {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(0deg, #ff79da, #9356dc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0);
  transition: 0.2s ease-in;
}
.coeur:hover .coeur2 {
  transform: scale(1);
  opacity: 1;
  -webkit-text-stroke: initial;
}
