@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap");

* {
  margin: 0;
  font-family: "Roboto", "Sans serif";
}
a {
  text-decoration: none;
  color: inherit;
}
/* HEADER */
header {
  display: flex;
  justify-content: center;
  position: relative;
  padding-top: 15px;
  z-index: 2;
  height: 48px;
  border-bottom: 1px solid #f2f2f2;
  box-shadow: 0 0 5px gray;
}
header > h1 {
  font-size: 30px;
  font-weight: 300;
  font-family: "Shrikhand", "Sans serif";
}

/* SECTION INTRODUCTION */
.s-introduction {
  display: flex;
  flex-direction: column;
}
.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  color: #353535;
  height: 50px;
}
.localisation > span {
  padding-left: 18px;
  font-weight: 500;
  font-size: 15px;
}
.presentation {
  background-color: #f6f6f6;
  height: 191px;
  padding: 38px 39px;
  padding-bottom: 58px;
  text-align: center;
}
.presentation > h1 {
  font-size: 24px;
  margin: auto 26px;
  line-height: 1.19;
}
.presentation > p {
  color: #4d4d4d;
  font-weight: 300;
  font-size: 18px;
  margin-top: 12px;
  margin-bottom: 44px;
}
.presentation > a {
  padding: 15px 20px;
  border-radius: 35px;
  font-weight: 400;
  color: #fff;
  background: linear-gradient(#ff79da, #9356dc);
  box-shadow: 2px 5px 5px lightgray;
}

/* SECTION FONCTIONNEMENT */
.s-fonctionnement {
  margin: 47px 15px;
  height: 347px;
}
.info-fonctionnement {
  display: flex;
  flex-direction: column;
  margin-top: 28px;
}
.fonctionnement {
  display: flex;
  align-items: center;
  position: relative;
  height: 40px;
  padding: 17px;
  border-radius: 20px;
  margin-left: 20px;
  margin-bottom: 25px;
  background-color: #f6f6f6;
  box-shadow: 0 5px 10px #d4d4d4;
}
.fonctionnement:nth-child(0n + 3) {
  background-color: #f5edff;
}
.fonctionnement > span:nth-child(0n + 3) {
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement > i {
  color: #7e7e7e;
  margin-right: 25px;
  margin-left: 20px;
}
.fonctionnement:nth-child(0n + 1) > i {
  font-size: 20px;
  margin-bottom: 2px;
}
.fonctionnement:nth-child(0n + 2) > i {
  font-size: 17px;
}
.fonctionnement:nth-child(0n + 3) > i {
  font-size: 16px;
  margin-bottom: 2px;
  color: #9356dc;
}
.fonctionnement > span:nth-child(0n + 1) {
  display: flex;
  justify-content: center;
  position: absolute;
  left: -15px;
  height: 15px;
  width: 15px;
  font-size: 15px;
  padding: 5px;
  border-radius: 100%;
  color: #fff;
  background-color: #9356dc;
}

/* SECTION RESTAURANTS */
.s-restaurants {
  background-color: #f2f2f2;
  padding: 53px 20px;
}
.s-restaurants > h1 {
  margin-bottom: 22px;
}
.restaurant {
  display: flex;
  height: 255px;
  flex-direction: column;
  border-radius: 15px;
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 14px;
  box-shadow: 5px 5px 10px #d4d4d4;
}
.restaurant-img {
  flex: auto;
  position: relative;
}
.restaurant-img > img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.restaurant-desc {
  display: flex;
  justify-content: space-between;
  height: 46px;
  padding: 17px 15px;
}
.restaurant-desc-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.restaurant-desc-1 > h2 {
  font-weight: 600;
  font-size: 18px;
}
.restaurant-desc-1 > p {
  font-weight: 300;
}
.restaurant-desc-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
.restaurant-desc-2 > i {
  font-size: 21px;
  -webkit-text-fill-color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
  color: #fff;
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #353535;
  color: #fff;
  height: 138px;
  padding: 25px 30px;
  padding-bottom: 35px;
}
footer > span {
  padding-bottom: 10px;
  font-size: 19px;
  font-weight: 500;
  font-family: "Shrikhand", "Sans serif";
}
.footer-with-icon {
  display: flex;
}
.footer-with-icon > p {
  margin-left: 10px;
}
.footer-icon {
  font-size: 13px;
}
.footer-icon2 {
  font-size: 11px;
}
